@font-face {
    font-family: 'Vazirmatn';
    src: url('/fonts/Vazirmatn-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Vazirmatn', Tahoma, sans-serif;
}
